In [1]:
import pandas as pd
import os
from pathlib import Path, PureWindowsPath
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
import matplotlib.pyplot as plt

# Load files in

In [2]:
filename_1 = 'FEMA_claims.csv.gz'
filename_2 = 'ASEC_income.csv.gz'
filename_3 = 'ZHVI.csv.gz'
url = Path(PureWindowsPath('C:\\Users\\woodn\\github\\datasets'))
filepath_1 = url / filename_1
filepath_2 = url / filename_2
filepath_3 = url / filename_3

In [3]:
df_fema = pd.read_csv(filepath_1,
                      on_bad_lines = 'warn',
                      low_memory = False
                     )
df_asec = pd.read_csv(filepath_2,
                      on_bad_lines = 'warn',
                      low_memory = False
                     )
df_zhvi = pd.read_csv(filepath_3,
                      on_bad_lines = 'warn',
                      low_memory = False
                     )

# Aggregate FEMA data down to year for y-o-y analysis

In [4]:
key = ['state','county','year']

In [5]:
df_fema.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20644383 entries, 0 to 20644382
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   date            object
 1   county          object
 2   state           object
 3   city            object
 4   zip             object
 5   damage          float64
 6   reimbursements  float64
dtypes: float64(2), object(5)
memory usage: 1.1+ GB

In [6]:
df_fema.sample(3)

,date,county,state,city,zip,damage,reimbursements
20602900,2002-12-08,Guam,GU,MANGILAO,96913,0.0,5550.0
322296,2003-09-18,Norfolk,VA,NORFOLK,23505,0.0,0.0
8893432,2012-10-30,Suffolk,NY,EAST MARION,11939,0.0,0.0

In [7]:
try:
    df_fema['year'] = pd.to_datetime(arg=df_fema.loc[:,'date']
                                     ,errors='raise'
                                     ,format="%Y-%m-%d"
                                    ).dt.year
except:
    print('that ain\'t it man')

In [8]:
df_fema.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20644383 entries, 0 to 20644382
Data columns (total 8 columns):
 #   Column          Dtype
---  ------          -----
 0   date            object
 1   county          object
 2   state           object
 3   city            object
 4   zip             object
 5   damage          float64
 6   reimbursements  float64
 7   year            int64
dtypes: float64(2), int64(1), object(5)
memory usage: 1.2+ GB

In [9]:
df2_fema = df_fema.groupby(by=['state','county','year'], as_index=False)\
                    .agg(tot_reim = ('reimbursements','sum')
                         ,cnt_req = ('reimbursements','count')
                        ).dropna()

In [10]:
df2_fema.sample(3)

     state          county  year  tot_reim  cnt_req
1818    IA          Monona  2020       0.0       16
6329    OK        Okmulgee  2015  231719.7      153
4364    MO  Ste. Genevieve  2016   96521.5       21

In [11]:
df2_fema.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9198 entries, 0 to 9221
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   state     9198 non-null   object
 1   county    9198 non-null   object
 2   year      9198 non-null   int64
 3   tot_reim  9198 non-null   float64
 4   cnt_req   9198 non-null   int64
dtypes: float64(1), int64(2), object(2)
memory usage: 431.2+ KB

# Fit a model for each year to cluster into: low,med,high

In [16]:
def hmmm(i,year,df,ax):
    df_temp = df.loc[df.loc[:,'year']==y,:].copy()
    X = pd.DataFrame(MinMaxScaler().fit_transform(df_temp.loc[:,['tot_reim','cnt_req']])
                     ,columns=['tot_reim','cnt_req']
                    )
    n = 4
    mdl = KMeans(n_clusters=n,n_init='auto').fit(X)
    
    df_temp.loc[:,'cluster'] = mdl.labels_
    df_temp = df_temp.astype({'cluster':'int8'})

    X_ = pd.DataFrame(mdl.cluster_centers_
                      ,columns=['tot_reim','cnt_req']
                     )
    X_.loc[:,'cluster'] = pd.Series(np.arange(0,n))
    X_.loc[:,'cluster_l2'] = (X_.loc[:,'tot_reim']**2 + X_.loc[:,'cnt_req']**2)**0.5
    X_.loc[:,'risk_rnk'] = X_.loc[:,'cluster_l2'].rank().astype({'cluster_l2':'int8'})
    
    df_temp = pd.merge(df_temp
                       ,X_.loc[:,['cluster','risk_rnk']]
                       ,how = 'left'
                       ,left_on = 'cluster'
                       ,right_on = 'cluster'
                      )
    
    sns.set_style('whitegrid')
    sns.scatterplot(data = df_temp
                    ,x = 'tot_reim'
                    ,y = 'cnt_req'
                    ,hue = 'risk_rnk'
                    ,palette = 'Set2'
                    ,ax=ax
                   )
    ax.set(ylabel = 'Reimbursement Requests'
           ,xlabel = 'Reimbursement Costs (USD)'
           ,xscale = 'log'
           ,yscale = 'log'
           ,title = 'Year: {}'.format(str(y))
          )
    
    return df_temp.drop(columns=['cluster']), ax

In [17]:
k = 3
h = int(18/k)

fig, ax = plt.subplots(h, k, figsize=(15, h*3.5))

import warnings
warnings.filterwarnings('ignore')

for i,y in enumerate(range(2005,2023)):
    blah, ax[int(i/k),i%k] = hmmm(i,y,df2_fema,ax[int(i/k),i%k])
    if i==0:
        df3_fema = blah
    else:
        df3_fema = pd.concat([df3_fema,blah])
    
fig.subplots_adjust(hspace=0.4,wspace=0.2)
fig.suptitle('State,County FEMA Flood Risk Clustering (4=very high,3=high,2=med,1=low)',y=0.915)

path = os.path.join(os.getcwd(),'figs')
filename = 'y-o-y_cluster_all' + '.png'

if not os.path.exists(path):
    os.makedirs(path)
plt.savefig(fname=os.path.join(path,filename))
plt.close(fig)

In [20]:
filt_ugh = df3_fema.loc[:,'risk_rnk'] == 4
df3_fema.loc[filt_ugh,:].sample(3)

    state  county  year      tot_reim  cnt_req  risk_rnk
20     IL    Cook  2013  1.261188e+08    76630         4
243    TX  Harris  2017  6.901686e+08   449339         4
22     MI   Wayne  2014  1.212488e+08    98182         4

In [23]:
df2_fema.size

45990

In [24]:
df3_fema.size

44634

# Assess state,county level risk

In [31]:
dfgb_risk_mu = df3_fema.groupby(by=['state','county'], as_index=False)\
                        .agg(mean_risk = ('risk_rnk','mean')
                             ,cnt_req_tot = ('cnt_req','sum')
                            )

In [34]:
dfgb_risk_mu.nlargest(5,'mean_risk').to_csv('highest_avg_risk.csv',index = False)
dfgb_risk_mu.nlargest(5,'mean_risk')

     state        county  mean_risk  cnt_req_tot
1317    MI         Wayne   3.000000       197657
716     IL          Cook   2.750000       268817
2689    TX        Harris   2.750000       967816
1521    MP        Saipan   2.666667        17774
2286    PA  Philadelphia   2.500000        50352

In [35]:
dfgb_risk_mu.nlargest(5,'cnt_req_tot').to_csv('highest_num_reimbursements.csv',index = False)
dfgb_risk_mu.nlargest(5,'cnt_req_tot')

     state      county  mean_risk  cnt_req_tot
2689    TX      Harris   2.750000       967816
369     FL  Miami-Dade   1.750000       783501
1143    LA   Jefferson   2.333333       604028
329     FL     Broward   1.666667       530511
1153    LA     Orleans   2.000000       481775